    <div class="header">
        <a class="logo" href=""><img src="/images/logo.png"></a>
    </div>
    <!-- <div id="loading"></div> -->
    <div class="wrap">
    <section class="quick active clearfix">
        <div class="title">
            <span>1</span>
            <h1>Express Coupons</h1>
        </div>
        <div class="tips">
            <a class="show-upload up" href="#">I have my own coupons to Upload .</a>
        </div>
        <div class="hide">
            <form action="/coupon/upload" class="dropzone"></form>
<!--             <form action="/coupon/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csv_file" class="csv_file" />
                <input type="submit" value="submit'" />
                <div class="btn btn-upload">
                    <a href="">Upload</a>
                </div>
            </form> -->
        </div>
        <div class="form">
            <form action="/coupon/express" method="post">
                <div class="entry">
                    I want to generate <input class="col-30 center" type="number" name="number" min="0" placeholder="1000" style="margin: 0 10px;" value="10"/> coupons with.
                </div>
                <div class="entry">
                    <select name="discount">
                        <option value="0">10 Dollars off Discount</option>
                        <option value="1">10% off Discount</option>
                        <option value="2">Free Shipping</option>
                    </select>
                </div>
                <div class="btn submit">
                    <a href="">Generate!</a>
                </div>
                <div class="btn change">
                    <a href="">Advanced Settings</a>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </section>
    <section class="advanced clearfix">
        <div class="title">
            <span>1</span>
            <h1>Advanced Coupons</h1>
        </div>
        <div class="tips">
            <a class="show-upload" href="">I aleady have coupons need to upload .</a>
        </div>
        <div class="hide">
            <form action="/upload-target" class="dropzone"></form>
        </div>
        <div class="form">
            <form action="" method="post">
                <div class="entry">
                    I want to generate <input class="col-30 center" type="number" name="number" min="0" placeholder="1000" style="margin: 0 10px;" value="10"/> coupons with<br />
                </div>
                <div class="entry name">
                    <label for="ipt-name" class="required">Coupon Name</label>
                    <input id="ipt-name" type="text" name="coupon_name" required placeholder="An attractive coupon code name"/>
                </div>
                <div class="entry fl col-25 prefix">
                    <label for="ipt-prefix">Prefix</label>
                    <input id="ipt-prefix" type="text" name="_prefix" placeholder="ATTR-" class="center" />
                </div>
                <div class="entry fl col-10 lan">
                    <label for="ipt-len" class="required">Len</label>
                    <input id="ipt-len" type="number" min="0" max="20" name="len" placeholder="6" value="8" class="center" required/>
                </div>
                <div class="entry fl col-40 type">
                    <label for="select-hash-type" class="required">Type</label>
                    <select id="select-hash-type" name="_charset">
                    <% for (var i = 0, l = charsets.length; i < l; i++) { %>
                        <option value="<%= i %>"><%= charsets[i].name %></option>
                    <% } %>
                    </select>
                </div>
                <div class="entry fl col-25 sufix">
                    <label for="ipt-suffix">Suffix</label>
                    <input id="ipt-suffix" type="text" name="suffix" placeholder="-1" class="center"/>
                </div>
                <div class="clear preview">
                    <label>Preview: </label>
                    <p></p>
                    <div class="clear"></div>
                </div>
                <div class="entry">
                    <label name="select-discount-type" class="required">Discount Type</label>
                    <div class="fl select col-70">
                        <select id="select-discount-type" name="discount_type">
                        <% for (var i = 0, l = discount_types.length; i < l; i++) { %>
                            <option value="<%= i %>"><%= discount_types[i].name %></option>
                        <% } %>
                        </select>
                    </div>
                    <input class="col-30" type="number" name="discount_amount" value="10" class="center" />
                </div>
                <div class="entry">
                    <label for="ipt-total-uses">Limt total number of uses</label>
                    <input id="ipt-total-uses" type="number" name="max_uses" placeholder="Leave it empty for no limit" />
                </div>
                <div class="entry">
                    <label for="ipt-uses-per-customer">Limt number of uses per customer</label>
                    <input id="ipt-users-per-customer" type="number" name="num_uses" placeholder="Leave it empty for no limit" />
                </div>
                <div class="entry expire-date">
                    <label for="ipt-expiry-date">Expire Date</label>
                    <!-- <input id="ipt-expiry-date" class="date" type="text" name="expiry_date" /> -->
                    <input type="number" name="day" placeholder="Day" />-<input type="number" name="month" placeholder="Month" />-<input type="number" name="year" placeholder="Year" />
                </div>
                <div class="btn submit">
                    <a href="">Generate!</a>
                </div>
                <div class="btn change">
                    <a href="">Quick Settings</a>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </section>
    <section class="upload clearfix">
        <div class="title">
            <span>2</span>
            <h1>Upload Your Coupons</h1>
        </div>
        <div class="tips">
            <a href='#' target="_blank">Download your coupons here .</a>
        </div>
        <div class="form">
            <form action="" method="post">
                <div class="entry">
                    <label for="ipt-emali" class="required">Email</label>
                    <input type="email" name="email" required placeholder="joe.foo@example.com" value=""/>
                </div>
                <div class="entry">
                    <label for="ipt-url" class="required">Website URL</label>
                    <input type="url" name="url" placeholder="www.example.com (without http:// or https://)" required value=""/>
                </div>
                <div class="entry">
                    <label for="ipt-username" class="required">Username</label>
                    <input type="text" name="username" placeholder="Your API username." value=""/>
                </div>
                <div class="entry">
                    <label for="ipt-password" class="required">API Token</label>
                    <input type="text" name="token" placeholder="Your API call token." value=""/>
                </div>
                <div class="btn submit">
                    <a href="#">Go!</a>
                </div>
            </form>
        </div>
    </section>
    <section class="confirmation clearfix">
        <div class="title">
            <span>3</span>
            <h1>Confirmation</h1>
        </div>
        <div class="tips">
            <p>Please review and confirm the following information.</p>
        </div>
        <div class="placeholder"> </div>
        <script id="tpl-confirmation" type="text/template">
            <div class="text">
                <h2>Summary</h2>
                <p><u>{{= coupons.existed }}</u> exsiting coupon codes are found. There are <u>{{= coupons.duplicated }}</u> coupon codes duplicated. If you have used our coupon generator another <u>{{= coupons.duplicated }}</u> valid coupons will be re-generated.Otherwise,we will skip duplicated ones anyway.</p>
                <p><u>{{= categories.length }}</u> categories are found as following: (Please leave them unchecked if you do not want to add any category restrictions.)</p>
            </div>
            <div class="form">
                <form action="" method="post">
                <div class="entry checkbox">
                {{ _.each(categories, function(category) { }}
                <input id="category-{{= category.id }}" type="checkbox" name="category[]" value="{{= category.id }}" />
                <label for="category-{{= category.id }}">{{= category.name }}</label>
                {{ }); }}
                </div>
                <div class="btn submit">
                    <a href="#">Go!</a>
                </div>
                </form>
            </div>
        </script>
    </section>
    <section class="successful clearfix">
        <div class="title">
            <span>4</span>
            <h1>Successful</h1>
        </div>
        <div class="tips">
            <span></span>
            <p>Great, Your task is successfully submitted.</p>
        </div>
        <div class="text">
            <p>Once your task finishes, we will send you an email, together with the coupon codes imported.</p>
            <p>Due to the server capacity, we will process the tasks one by one. Hope you can understand.</p>
            <p>To support our work, you can click the following donate link, and we will inform you immediately when we have updates.</p>
            <p>Warm Regards,</p>
            <p>AAOO Team</p>
        </div>
    </section>
    </div>
    <div class="footer">
        <div class="links"><a href="">Terms & Conditions</a><a href="">Privacy Policy</a></div>
        <div class="copyright"> © 2015 Copyrights AAOO TECH LTD . All rights Reserved </div>
    </div>
