<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="keywords" content="AAOO,BigCommerce,Coupon,Generator">
    <meta name="description" content="BigCommerce Coupon Generator from AAOO Tech Ltd. AAOO, based in Hong Kong, and is providing reliable and professional internet-plus services, escpeically for e-commerce.">
    <meta name="author" content="AAOO Tech Ltd.">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/00reset.css">
    <link rel="stylesheet" href="/styles/01jquery-ui.css">
    <link rel="stylesheet" href="/styles/02main.css">
    <link rel="stylesheet" href="/styles/dropzone.min.css">
    <link rel="stylesheet" href="/styles/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/lobibox.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72009259-4', 'auto');
      ga('send', 'pageview');
    </script>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/lib/dropzone.min.js"></script>
    <script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/js/lib/jquery-ui.min.js"></script>
    <script src="/js/lib/jquery.customSelect.min.js"></script>
    <script src="/js/lib/lobibox.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/utility.js"></script>
    <script src="/js/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
