/*body { font-size: 14px; font-family: arial,sans-serif; }
.page-width { width: 980px; margin: 0 auto; box-sizing: border-box; }
.export { width: 50%; margin: 100px auto; }
.export .form-group { padding: 10px 0px; }
.export h2 { text-align: center; font-size: 24px; font-weight: bold; }
.export label { width: 20%; display: inline-block; }
.export input { width: 80%; padding: 5px 0px; border: 1px solid #949494; float: right; }
.btn-set { text-align: center; padding: 30px 0px; }
.btn { padding: 15px 30px; background: #00FFC6; border-radius: 10px; }*/